iso_workspace/
*.iso
bbash_source/
evim_source/
rootfs/etc/.pwd.lock
rootfs/var/log/
rootfs/var/tmp/
rootfs/var/cache/
rootfs/root/
rootfs/etc/portage/gnupg/
rootfs/etc/ssl/private/

# built artifacts
tools/kernel-full/vmlinuz-*
*.squashfs
old-ramdisk/
update.key
