[Desktop Entry]
Type=Application
Version=1.0
Name=Firefox
Comment=Browse the web (opens the systemLinux website)
Exec=firefox-esr %u
Icon=firefox-esr
Terminal=false
Categories=Network;WebBrowser;
